#container {
  display: flex;
}

#map {
  flex-grow: 5;
  flex-basis: 0;
  height: 100vh;
}

#kartalla {
  flex-grow: 1;
  flex-basis: 0;
}

#joukkueet {
  flex-grow: 1;
  flex-basis: 0;
}

#karttalistaus {
  min-height: 50vh;
}

li {
  width: 100%;
}